.userOptionButton{
  color: whitesmoke;
  background-color: #09062a !important ;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  font-style: oblique;
}

.userFrame{
  background-color: rgb(169, 169, 210);
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.disc-container{
  background-color: #09062a;
  color: whitesmoke;
  padding: 7px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.disc{
 background-color: rgb(3, 3, 46);
 border-color: #09062a;
}

.status{
  background-color:  whitesmoke;
  color: black;
}

.disc-name{
  background-color:  whitesmoke;
  color: black;
}

.donateDiscButton{
  color: black;
  background-color:  whitesmoke;
  cursor: pointer;
}

.discOptionsButton{
  margin-top: 15px;
  background-color: #09062a;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  font-style: oblique;
}



