.userOptionButton{
  color: white;
  background-color: #09062a !important ;
}

.userFrame{
  background-color: rgb(169, 169, 210);
  font-weight: bold;
}

.disc-container{
  background-color: #09062a;
  color: white;
  padding: 7px;
  paddi;
  
}

.disc{
 // background-color: rgb(169, 169, 210);
}

.status{
  background-color: #09062a;
}

