.userOptionButton{
  color: whitesmoke;
  background-color: #09062a !important ;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  font-style: oblique;
}

.userFrame{
  background-color: rgb(169, 169, 210);
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.disc-container{
  background-color: #c7c7c7;
  color: whitesmoke;
  padding: 7px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.disc{
 background-color: rgb(3, 3, 46);
 border-color: #09062a;
}

.status{
  background-color:  whitesmoke;
  color: black;
}

.disc-name{
  background-color:  whitesmoke;
  color: black;
}

.donateDiscButton{
  color: black;
  background-color:  whitesmoke;
  cursor: pointer;
}

.discOptionsButton{
  margin-top: 15px;
  background-color: #09062a;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  font-style: oblique;
}



.signInContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  transform: translateY(-40px);
}

.logInOptionsButtons{
  background-color: #09062a;
  color:white;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);

  
}

.logInOptionsButtons:hover {
      background-color: #2c297a;

}


.search-result-info{
  border: 5px solid  #09062a;
  border-radius: 5px;
}

.search-result-info{
  background-color: white;
}


.regFoundDiscButton{
  background-color: #09062a;
  color: whitesmoke;
}

.search-result-time,
.search-result-discnumber
{
  background-color: whitesmoke;
}

.search-result-data{
  background-color: whitesmoke;
}

